.header{
    display: flex;
    justify-content: space-between;
    padding: 3px 120px;
    align-items: center;
    height: 75px;
    border-bottom: 1.5px solid rgb(130 108 108);
    
    .header-left{
        img{
            width: 50%;
        }
    }
    .header-right {
        img{
            float: right;
            width: 50%;
        }
    }
}
//Mobile: width < 740px
@media only screen and (max-width: 46.1875em) {
    .header {
            padding: 5px 20px;
            height: 50px;
    
            .header-left {
                img {
                    padding-top: 5px;
                    width: 35%;
                }
            }
    
            .header-right {
                img {
                    float: right;
                    width: 40%;
                }
            }
        }
}