.subject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 100px;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #29b363;
    gap: 10px;
    h1{
        font-family: 'Mulish', sans-serif;
    }
    p{
        font-size: 11px;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
    }
}
@media only screen and (max-width: 46.1875em) {
    .subject {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 5px;
            gap: 5px;
            color: white;
            background-color: #29b363;
        }
}